<button class="closeButton" mat-icon-button style="align-self: flex-end;" mat-dialog-close>
    <mat-icon fontIcon="close"></mat-icon>
</button>
<h2 class="title" mat-dialog-title>Edycja Pierwiastka</h2>
<mat-dialog-content>
    <form [formGroup]="periodicForm">
        <p>
            <mat-form-field class="formInput">
                <mat-label>Position</mat-label>
                <input formControlName="position" matInput placeholder="Position">
            </mat-form-field>

        </p>
        <p>
            <mat-form-field class="formInput">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="formInput">
                <mat-label>Weight</mat-label>
                <input matInput formControlName="weight" placeholder="Weight">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="formInput">
                <mat-label>Symbol</mat-label>
                <input formControlName="symbol" matInput placeholder="Symbol">
            </mat-form-field>
        </p>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="margin-bottom: 30px; display: flex; justify-content: space-between;">
    <button (click)="closepopup()" matButton="outlined" >Close</button>
    <button (click)="save()" matButton="filled" >Edit</button>
</mat-dialog-actions>